<p class="lead">I am a developer of codes. This is a horrible website, so check me out on one of my other sites:</p>


<ul>
  <li>On twitter: <a target="_blank" href="http://twitter.com/chifoodtruckz">@chifoodtruckz</a></li>
  <li><a href="http://www.chicagofoodtruckfinder.com">The Chicago Food Truck Finder</a> is my most active project.</li>
  <li><a href="https://play.google.com/store/apps/details?id=net.andrewviolette.truckz">The Chicago Food Truck Finder Android App</a> is in the Google Play store.</li>
  <li>I also have a <a href="https://chrome.google.com/webstore/detail/chicago-food-truck-finder/hapnieohgibnoaldifflafpcflcicdlc">Google Chrome extension for the Chicago Food Truck Finder</a></li>
  <li>Another project: <a href="http://www.chicagofarmersmarketfinder.com/">The Chicago Farmer's Market Finder</a></li>
  <li>I'm really not a big fan of LinkedIn, but here's <a href="http://www.linkedin.com/aviolette">Andrew Violette's Linkedin Profile</a></li>
  <li>Most of my code is open source.  Check me out on <a href="http://github.com/aviolette">github</a></li>
  <li><a href="https://drive.google.com/file/d/0B60jIfFIFhKiU1UyeEZreWwwOU0/edit">My Resume</a></li>
  <li>Some people like facebook, so here I am: <a href="http://facebook.com/aviolette">Andrew Violette</a></li>

</ul>

<p>Here is what I'm currently reading (according to Good Reads)</p>

<div id="gr_updates_widget">
    <iframe id="the_iframe" src="https://www.goodreads.com/widgets/user_update_widget?height=400&num_updates=3&user=23870094&width=250" width="248" height="330" frameborder="0"></iframe>
</div>
