
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Andrew Violette, @aviolette/@chifoodtruckz on twitter"/>
  <meta name="description"
        content="Andrew Violette's website"/>
  <title>THE Andrew Violette</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link href="/stylesheets/main.css" rel="stylesheet"/>
  <script src="/javascripts/modernizr-1.7.min.js"></script>
</head>
<body>

<div class="container cfmf-main-container">
  <%= yield %>
</div>

</body>
</html>
